.main-title {
  color: white;
  font-weight: bold;
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(0,0,0,.75);
  font-size: 46pt;
}
.title-sub {
  font-size: 20pt;
  padding-right: 40px;
  text-align: right;
}
