<div fxLayout="row" fxFlexFill fxHide.gt-xs>
  <button (click)="showNav()" class="bg-shade" mat-icon-button >
    <mat-icon>menu</mat-icon></button>
</div>
<mat-toolbar class="bg-shade" fxLayout="row" fxLayoutAlign="center" fxHide.xs>
  <div fxFlex fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
    <a mat-button routerLink="/">Home</a>
    <a mat-button fxHide routerLink="/services">Services</a>
    <a mat-button routerLink="/connect">Connect</a>
    <a mat-button fxHide routerLink="/labs">Labs</a>
  </div>
</mat-toolbar>


