<div fxLayout="row" fxFlexFill fxHide.gt-xs>
  <button (click)="showNav()" class="bg-shade"mat-icon-button ><mat-icon>menu</mat-icon></button>
</div>
<mat-toolbar class="bg-shade" fxLayout="row" fxLayoutAlign="center" fxHide.xs>
  <div fxFlex fxLayout fxLayoutAlign="center center" fxLayoutGap="30px">
    <a mat-button routerLink="/">home</a>
    <a mat-button routerLink="/services">services</a>
    <a mat-button routerLink="/connect">connect</a>
    <a mat-button routerLink="/labs">labs</a>
  </div>
</mat-toolbar>


