/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  background: url('assets/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.bg-shade {
  background-color: rgba(0,0,0,.4);
  backdrop-filter: blur(4px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
